* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

body { 
    background-color: rgb(255, 255, 255);
}

.header-1 {
    background-color: blueviolet;
    height: 5vw;
    max-width: 100%;
    font-weight: 650;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    gap: 1.5vw;

    * {
        background: transparent;
    }

    img {
        width: 12.5vw;
    }

    input {
        width: 45vw;
        height: 3vw;
        border: 0;
        background-color: white;
        border-radius: 32px;
        font-size: 1vw;

    }

    input::placeholder {
        padding-left: 1vw;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 0.3vw;
        justify-content: center;
        align-items: center;
        color: white;

        span {
            font-size: 2.5vw;
        }
    }

    .search {

        display: flex;
        flex-direction: row;
        gap: 0.5vw;
        align-items: center;
        justify-content: center;

        button {
            border: 0;
            width: 3vw;
            height: 3vw;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: white;

            &:hover {
                background-color: rgb(58, 0, 90);
            }
        }
    }

}

.header-1-text {
    font-size: 1vw;
    font-weight: 600;
}

.heart {
    cursor: pointer;
}

.header-2 {
    background-color: ghostwhite;
    height: 2.5vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    align-items: center;


    button {
        background: transparent;
    }

    h3 {
        font-size: 1vw;
        color: rgb(161, 147, 175);
        font-weight: 300;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1vw;
        align-items: center;
        color: rgb(161, 147, 175);
        cursor: pointer;
    }

    :first-child {
        font-size : 1vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: blueviolet;
        cursor: pointer;
    }
}

.header-3 {
    img {
        width: 100%;
    }
}

.links {
    margin-bottom: 1.3vw;
    font-size: 0.7vw;
    margin: 2vw;
}

.item-details {
    display: flex;
    flex-direction: column;

    .scope {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3vw;

        .title-container {
            width: 27%;
            
            h1 {
                font-size: 1.5vw;
            } 
        }
    }

}

.title-details {
    width: 100%;
    
    p {
        font-size: 1vw;
    }

    span {
        font-weight: 550;
        font-size: 1vw;
    }
}

.ratings {
    display: flex;
    gap: 0.3vw;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    margin: 0.7vw 0;
    padding: 0 1vw;

    border: solid 1px transparent;
    border-radius: 0.5vw;

    &:hover {
        border: solid 1px gray;
    }
}

.rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 1vw;

    h5 {
        color: rgb(53, 0, 102);
    }

    .stars {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
}

.details {
    font-size: 1vw;
    font-weight: 550;

    span {
        font-weight: 300;
    }

    ul {
        list-style: none;
    }
}

.share-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    font-size: 1.5vw;
}

#share-button {
    width: 2vw;
    height: 2vw;
    border-radius: 9999px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;

    &:hover {
        border: black 2px solid;
    }
}

.item-layer {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;

    svg {
        transition: height 0.2s;

        &:hover {
            height: 3vw;
        }
    }

    .complement {
        width: 4vw;
        border-radius: 0.4vw;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid black;
        }
    }

    .item-photos {
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.7vw;
    }
    
    .sapato {
        width: 35vw;
    }
}

.item-price-info {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;

    .sell-by {
        p {
            font-size: 1vw;

            span {
                font-weight: 700;
            }
        }
    }

    .item-size {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;

        h4 {
            font-size: 1.2vw;
        }

        button {
            width: 2vw;
            font-size: 1vw;
            height: 2vw;
            border-radius: 9999px;
            border: 1px solid gray;


            &:hover {
                border-color: rgb(73, 0, 128);
                color: rgb(73, 0, 128);
            }
        }

    }
}

.price-layer {
    
    h2 {
        font-weight: 500;
        font-size: 1.9vw;
        
        span {
            font-size: 1vw;
        }
    }

    h4 {
        font-size: 1vw;
        font-weight: 450;
    }


    #old-price {
        text-decoration: line-through;
        color: grey;
        font-size: 0.9vw;
    }
}

.item-description {
    margin-left: 82px;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(233, 233, 233);
}


.advantages {
    margin-top: 20px;
    padding: 30px 0 30px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


.buy-button {
    background-color: #30006B;
    color: white;
    font-weight: 550;
    font-size: 15px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    transition: .3s;
}

.buy-button:hover {
    background-color: #5500bc;
    transition: .3s;
}

.save-item-icon {
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    align-items: center;
    border-radius: 100px;
}

.logo-copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
    align-items: center;
}

@media screen and (max-width: 576px) {
.free-shipping {
    align-items: center;
    
    width: 20%;
}

.footer ul {
    align-items: center;
    flex-direction: column;
    list-style: none;

}

.item-description {
    margin-left: 15px;
    width: 90%;
}


}