* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

body { 
    background-color: rgb(255, 255, 255);
}

.header-1 {
    background-color: blueviolet;
    height: 5vw;
    max-width: 100%;
    font-weight: 650;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    gap: 1.5vw;

    * {
        background: transparent;
    }

    img {
        width: 12.5vw;
    }

    input {
        width: 45vw;
        height: 3vw;
        border: 0;
        background-color: white;
        border-radius: 32px;
        font-size: 1vw;

    }

    input::placeholder {
        padding-left: 1vw;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 0.3vw;
        justify-content: center;
        align-items: center;
        color: white;

        span {
            font-size: 2.5vw;
        }
    }

    .search {

        display: flex;
        flex-direction: row;
        gap: 0.5vw;
        align-items: center;
        justify-content: center;

        button {
            border: 0;
            width: 3vw;
            height: 3vw;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: white;

            &:hover {
                background-color: rgb(58, 0, 90);
            }
        }
    }

}

.header-1-text {
    font-size: 1vw;
    font-weight: 600;
}

.heart {
    cursor: pointer;
}

.header-2 {
    background-color: ghostwhite;
    height: 2.8vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    font-size: 1vw;

    button {
        background: transparent;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(161, 147, 175);
        cursor: pointer;
    }

    :first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: blueviolet;
        cursor: pointer;
    }
}

.header-3 {
    img {
        width: 100%;
    }
}

.links {
    margin-bottom: 1.3vw;
    font-size: 0.7vw;
}

.item-details {
    margin-top: 1.3vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    display: flex;

}

.title-details {
    span {
        font-weight: 550;
    }
}

.ratings {
    display: flex;
    gap: 0.3vw;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    margin: 0.7vw 0;
    padding: 0 1vw;

    border: solid 1px transparent;
    border-radius: 0.5vw;

    &:hover {
        border: solid 1px gray;
    }
}

.rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 1vw;

    h5 {
        color: rgb(53, 0, 102);
    }

    .stars {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
}

.details {
    font-size: 15px;
    font-weight: 550;

    span {
        font-weight: 300;
    }

    ul {
        list-style: none;
    }
}

.share-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
}

#share-button {
    width: 2vw;
    height: 2vw;
    border-radius: 9999px;
    background-color: red;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin: 0 20%;

    &:hover {
        border: black 2px solid;
    }
}

.item-layer {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    .complement {
        width: 4vw;
        border-radius: 0.4vw;
    }

    .item-photos {
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.7vw;
    }
    
    .sapato {
        width: 35vw;
    }
}

